/* Basic Colors */
$crayola: #edc79b;
$green: #2b6432;
$dark-green: #0c1d0e;
$light-green: #9bd4a2;
$red: #c5283d;
$blue: #2d6a8b;
$light-blue: #86bbd8;

/* Background Colors */
$navigation-background: $dark-green;
$board-background: $green;

/* Accent Colors */
$accent-1: $green;

/* Other Colors */

/* Board Bonus tiles */
$bonus-tile-1: $red;
$bonus-tile-2: $blue;
$bonus-tile-3: $light-blue;
