/* Variables */
$header-menu-width: 30em;
$content-padding-right: 2%;
$content-padding-left: 2%;

.app-layout {
	display: grid;
	justify-items: center;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 1fr 16fr 1fr;
}
.header-layout {
	display: flex;
	justify-content: space-between;
	width: 96%;
	padding-left: $content-padding-left;
	padding-right: $content-padding-right;
}

.main-content-layout {
	display: flex;
	align-items: center;
}
.footer-layout {
	display: flex;
	justify-content: space-between;
	width: 96%;
	padding-left: $content-padding-left;
	padding-right: $content-padding-right;
}
